# Ignore virtual environment
venv/
*.egg-info/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Ignore environment variables file
.env

# Ignore IDE and editor-specific files
.vscode/
.idea/

# Ignore operating system-specific files
.DS_Store
Thumbs.db

# Ignore coverage reports
.coverage
coverage.xml
*.cover
*.log

# Ignore build and distribution folders
build/
dist/
*.egg
*.egg-info/

# Ignore test result files
nosetests.xml
test_*.xml

# Ignore Python egg files
*.egg
*.egg-info/
